* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #33c5aa;
  --blue: #546ca8;
  --yellow: #ddd666;
  --beige: white;
  --light-blue: #009fe2;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
u {
  text-decoration: underline solid 2px;
  color: #0958a3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
